<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem natus ipsam recusandae obcaecati necessitatibus nisi omnis, veniam tempore eos explicabo alias distinctio non. Aut suscipit rerum veniam iusto veritatis natus!  
        </p>

    </div>
</section>