<div class="jumbotron mt-4">
    <h1 class="display-4">Note apps Nodejs and Mongodb</h1>
    <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda voluptatibus, voluptatem quaerat obcaecati, ad explicabo minima, fugiat ratione ipsum aliquid debitis dolorem! Rerum omnis possimus corporis mollitia illo. Explicabo, tempore.
    </p>
    <hr class="my-4">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque qui numquam laudantium, recusandae quam autem adipisci fuga modi unde nobis totam saepe repellendus exercitationem voluptatum itaque temporibus laborum error assumenda.
    </p>
    <a href="https://youtube.com" class="btn btn-primary">Youtube</a>
</div>